In [1]:
import numpy as np
import pandas as pd

In [5]:
fires_by_month=pd.read_pickle(r"C:\Users\Surekha\Downloads\fires_by_month.pkl")
print(fires_by_month.head())

  state  fire_year  fire_month  acres_burned  days_burning  fire_count
0    AK       1992           5        4202.0         135.0          14
1    AK       1992           6       86401.0         417.0          23
2    AK       1992           7       48516.7         500.0          26
3    AK       1992           8        3305.0          92.0           4
4    AK       1992           9          20.0           1.0           1

In [6]:
print(fires_by_month.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         9300 non-null   category
 1   fire_year     9300 non-null   int64
 2   fire_month    9300 non-null   int64
 3   acres_burned  9300 non-null   float64
 4   days_burning  9300 non-null   float64
 5   fire_count    9300 non-null   int64
dtypes: category(1), float64(2), int64(3)
memory usage: 372.6 KB
None

In [7]:
# group the data by state and year
df=fires_by_month.groupby(['state','fire_year'])
print(df.head())

     state  fire_year  fire_month  acres_burned  days_burning  fire_count
0       AK       1992           5        4202.0         135.0          14
1       AK       1992           6       86401.0         417.0          23
2       AK       1992           7       48516.7         500.0          26
3       AK       1992           8        3305.0          92.0           4
4       AK       1992           9          20.0           1.0           1
...    ...        ...         ...           ...           ...         ...
9289    WY       2015           2        1420.0           1.0           2
9290    WY       2015           3        2484.7           7.0          10
9291    WY       2015           4         802.7           7.0           6
9292    WY       2015           5         121.0           2.0           2
9293    WY       2015           6          17.1           0.0           1

[5181 rows x 6 columns]

In [8]:
print(df.first())

                 fire_month  acres_burned  days_burning  fire_count
state fire_year
AK    1992              5.0        4202.0         135.0        14.0
      1993              4.0         113.0           7.0         3.0
      1994              3.0         200.0           0.0         1.0
      1995              4.0         810.6          93.0         5.0
      1996              4.0         190.8           1.0         1.0
...                     ...           ...           ...         ...
WY    2011              2.0          82.9           0.0         2.0
      2012              1.0          15.0           0.0         1.0
      2013              3.0         392.8           2.0         6.0
      2014              3.0          12.0           0.0         0.0
      2015              2.0        1420.0           1.0         2.0

[1224 rows x 4 columns]

In [10]:
# sum the grouped data and store DataFrame in fires_by_year variable
fires_by_year=df.sum()
print(fires_by_year)

                 fire_month  acres_burned  days_burning  fire_count
state fire_year
AK    1992               35     142444.70        1145.0          68
      1993               30     686630.50        3373.0         144
      1994               48     261604.70        2517.0         126
      1995               41      43762.60         880.0          48
      1996               40     598407.20        2112.0          88
...                     ...           ...           ...         ...
WY    2011               77     134336.25         669.0         160
      2012               66     481206.46        1802.0         215
      2013               52      53884.90         742.0          40
      2014               75       7179.43         224.0          48
      2015               77      36233.50         351.0         107

[1224 rows x 4 columns]

In [18]:
fires_by_year=fires_by_year.drop(columns=['fire_month'])

In [19]:
print(fires_by_year)

                 acres_burned  days_burning  fire_count
state fire_year
AK    1992          142444.70        1145.0          68
      1993          686630.50        3373.0         144
      1994          261604.70        2517.0         126
      1995           43762.60         880.0          48
      1996          598407.20        2112.0          88
...                       ...           ...         ...
WY    2011          134336.25         669.0         160
      2012          481206.46        1802.0         215
      2013           53884.90         742.0          40
      2014            7179.43         224.0          48
      2015           36233.50         351.0         107

[1224 rows x 3 columns]

In [98]:
# select rows where the year is 2013 or later
fires2013 = fires_by_year[fires_by_year.index.get_level_values(1)>=2013]
print(fires2013)
print(fires2013.info())

                 acres_burned  days_burning  fire_count
state fire_year
AK    2013         1320518.50        4644.0         153
      2014          233426.40         571.0          43
      2015         5136372.99       16636.0         340
AL    2013           28015.65         115.0         581
      2014           35310.20         107.0         758
...                       ...           ...         ...
WV    2014           12547.50          75.0         172
      2015           16479.77          80.0         141
WY    2013           53884.90         742.0          40
      2014            7179.43         224.0          48
      2015           36233.50         351.0         107

[153 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 153 entries, ('AK', 2013) to ('WY', 2015)
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   acres_burned  153 non-null    float64
 1   days_burning  153 non-null    float64
 2   fire_count    153 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 6.5 KB
None

In [99]:
# use the pivot() method to pivot the data so the state values are used as row labels, 
# fire_year values are used as column labels, and acres_burned values are used as data
fires2013=fires2013.reset_index()
print(fires2013.info())
print(fires2013.pivot(index='state',columns='fire_year',values='acres_burned'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         153 non-null    category
 1   fire_year     153 non-null    int64
 2   acres_burned  153 non-null    float64
 3   days_burning  153 non-null    float64
 4   fire_count    153 non-null    int64
dtypes: category(1), float64(2), int64(2)
memory usage: 6.2 KB
None
fire_year         2013           2014        2015
state
AK         1320518.500  233426.400000  5136372.99
AL           28015.650   35310.200000    28386.96
AR           11797.600   18521.800000    16302.96
AZ          102307.470  202212.510000   154720.38
CA          575555.650  543033.330000   844674.02
CO          161037.700   24488.270000    22599.10
CT               0.000       0.000000      108.70
DE              12.000       0.000000       56.00
FL           74046.020  153560.600000   162845.80
GA            9781.680   15946.240000     8019.52
HI             738.000       0.000000     4836.00
IA            2078.000    9603.500000    13139.85
ID          739424.400  198230.000000   790235.90
IL              84.000    2122.500000     1403.00
IN             716.000      65.700000      657.90
KS            6859.000   36497.400000   119054.62
KY           21302.700   39895.869996    18506.22
LA           20760.788   35929.020000    18293.07
MA               0.000     372.500000      974.40
MD             273.000    1664.300000      888.30
ME             393.200      38.900000      327.50
MI             452.600     389.850000     3104.60
MN           20841.850    3124.000000    27254.40
MO            3210.960   20492.430000    10842.09
MS           19031.100   28713.000000    31251.30
MT           76471.520   33998.600000   348969.61
NC           11172.400   10958.100000     9272.62
ND            6074.800    3380.900000    24591.40
NE           10091.000   19444.600000    43558.75
NH              11.500      24.000000      501.86
NJ             903.500    9347.000000     2085.00
NM          284439.000   43357.370000    51571.08
NV          179702.850   69688.000000    23237.91
NY             832.100     663.400000     3639.00
OH            1191.140    2440.800000     1381.40
OK           28943.000  185987.900000   147565.40
OR          318386.850  932870.930000   578003.15
PA            1152.700    3443.680000     3166.84
PR            2473.400     212.000000     1311.60
RI               0.000       0.000000       47.45
SC            6687.200    8062.850000     4401.22
SD           14419.500   17951.200000    52758.22
TN            8941.300   15413.500000     7488.10
TX           59586.100  134069.300000   198621.98
UT           69872.800   26648.680000     9584.00
VA            5085.900   11252.300000     5505.50
VT             121.500      88.500000      222.00
WA          152719.800  448946.990000  1160483.43
WI            8712.950    2398.030000     1920.70
WV            9142.000   12547.500000    16479.77
WY           53884.900    7179.430000    36233.50

In [100]:
# use the pivot_table() method with the fires_by_month DataFrame to get the same result
# as the previous cell
print(fires_by_month.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         9300 non-null   category
 1   fire_year     9300 non-null   int64
 2   fire_month    9300 non-null   int64
 3   acres_burned  9300 non-null   float64
 4   days_burning  9300 non-null   float64
 5   fire_count    9300 non-null   int64
dtypes: category(1), float64(2), int64(3)
memory usage: 373.7 KB
None

In [103]:
fires2013month=fires_by_month.pivot_table(index='state',columns='fire_year',values='acres_burned',aggfunc=np.sum)
print(fires2013month)

fire_year       1992       1993       1994       1995       1996        1997  \
state
AK         142444.70  686630.50  261604.70   43762.60  598407.20  2025818.00
AL           1098.00    2098.00   28220.70   31284.10   40463.00    17551.60
AR           1239.00    1541.60    2081.90    4829.80    4951.40     9414.00
AZ          40015.10  201204.60  221025.60  258315.90  185184.70    12165.40
CA         289254.90  315011.10  401619.20  210519.30  700022.40   319032.10
CO           6905.20   34975.50   69315.00   19243.20   69335.80     5738.80
CT            341.00     244.00     680.00     257.50      35.00      506.00
DE            120.00       0.00      95.00    2014.00       0.00       15.00
FL          88575.00   73211.20   98016.90   51930.40  100483.00   127811.80
GA          16892.16   27901.77   15697.57   13889.14   24401.50    12762.57
HI          11144.00    2547.00      77.00    1022.00     370.00       50.00
IA             80.00      25.00     104.90      46.00     976.10       80.00
ID         683495.20    7658.50  727133.00  268047.50  895505.10    42270.40
IL            220.00      25.00     345.00     922.50     110.40        0.00
IN            160.60     431.10     524.10     780.50     454.30       72.70
KS            212.00    1798.00   84432.50    4505.00  147564.10    11388.60
KY            526.00     729.50    4455.20    5628.10    1024.90    10392.00
LA          25017.60    7913.90    2355.20    7074.70    8047.70    19119.50
MA              0.00       0.00       0.00       0.00       0.00        0.00
MD           1160.00    1672.00     780.00    1275.00     295.00      157.70
ME           3750.90     768.80    1485.20     449.40     160.90      395.10
MI           2162.70     598.90    5760.90    3924.10    2354.70      373.00
MN          28320.10   17285.00   34666.30   43794.18   27574.75    17808.50
MO          25476.70   13212.30   33496.30   46511.70    7816.60    21713.00
MS          52189.30   46315.10   47950.50   58542.80   92359.70    26759.10
MT          37499.90   12155.70  263887.71   24515.90  207387.60    10665.30
NC          20205.00   20846.00   37916.00   17438.00   12319.20    12022.90
ND           5819.10    3353.40   11080.40    1634.20    4100.30     5558.00
NE           1202.80     141.80    6772.30   55705.80    8211.00    18083.50
NH             15.00       0.00      25.79      80.00       0.00       10.00
NJ          15551.35     432.00    1777.25   21672.00     356.75     3728.00
NM          98401.00  300646.60  414270.30  138548.15  169753.60   168912.10
NV          92085.10   53733.00  195645.60  119687.70  626833.90    41551.80
NY           1776.00     641.80     964.00    8302.00     278.00      837.00
OH             35.00      14.00      90.00     175.00      62.00       22.00
OK          45229.20   66002.60   71953.00   90220.80  203409.60    15851.10
OR         115862.55   13121.55  274540.70   60405.10  589294.84    23788.10
PA             54.00      33.90      42.00      29.50       0.00       88.00
PR            125.00     163.00    1000.00       0.00     500.00       75.00
RI              0.00       0.00      25.00       0.00       0.00        0.00
SC          22477.10   25892.00   22604.10   11970.80   21147.30    20009.40
SD          58993.70    5820.20   15869.40    9837.90   18040.70     3946.10
TN            333.60     815.00    3185.60    1918.20     429.30    10812.90
TX          31500.30  114265.50   69200.20   53015.80  211119.30    45453.60
UT          36926.00   19513.70  212573.30  198340.10  510084.70    32066.00
VA            379.00     504.50    1088.00   13321.30    2225.00     3914.40
VT            270.00       0.00      16.00       0.00       0.00        0.00
WA          88514.00   22163.60  270286.00    5921.80  147277.90    26999.70
WI           1552.95     798.48    3544.59    1068.58    1743.72     1380.00
WV           6622.50    8402.40   49807.90   40227.00    5240.00     6782.00
WY          21659.60    5135.00   63792.25   12115.90  269272.85     8142.10

fire_year          1998          1999         2000       2001  ...  \
state                                                          ...
AK         120603.40000  1.005597e+06   756161.400  219707.70  ...
AL          29082.80000  4.479460e+04    77610.600   33244.00  ...
AR          11024.20000  1.986190e+04    24568.000   12045.00  ...
AZ          25537.60000  7.221750e+04    90733.700   33797.01  ...
CA         155287.80000  7.978873e+05   247752.600  344785.80  ...
CO           7920.90000  1.990730e+04   114930.300   22443.30  ...
CT             60.00000  1.310000e+03      365.000     491.00  ...
DE              0.00000  5.000000e+02       65.000      10.50  ...
FL         371513.60000  4.061225e+05   233892.500  405312.00  ...
GA          37033.03000  5.786060e+04    49518.240   40400.81  ...
HI          31667.00000  1.512900e+04     5658.000    2086.00  ...
IA             70.00000  4.094000e+02     1717.000      70.00  ...
ID         150364.70000  4.150797e+05  1349654.200  191675.20  ...
IL            136.60000  4.388000e+02      580.000     487.00  ...
IN            127.50000  6.435000e+02      587.200     957.00  ...
KS           5189.70000  6.513500e+03     9177.700    2586.60  ...
KY          23353.00000  1.227210e+05   134037.900  172371.60  ...
LA          29970.30000  3.260300e+04    83469.000   24837.80  ...
MA              0.00000  0.000000e+00        0.000     250.00  ...
MD            530.00000  1.567000e+03      205.000    5875.00  ...
ME           1073.60000  4.925000e+02      194.000    1596.50  ...
MI           3778.90000  9.830300e+03     5865.700     838.50  ...
MN          46533.70001  3.056770e+04    66236.700   21798.30  ...
MO          10032.50000  3.355100e+04    15949.000   15465.60  ...
MS          32416.00000  5.502850e+04    46566.300   27442.00  ...
MT          99920.79000  1.160689e+05   821050.960  161359.60  ...
NC          11480.70000  2.064980e+04    33093.500   35116.50  ...
ND           7120.30000  7.039660e+04    17379.600    5800.20  ...
NE          14059.30000  1.184540e+05   116012.400    2396.60  ...
NH             25.50000  1.330000e+01       10.000       0.00  ...
NJ            472.50000  1.487100e+04     1393.000    3484.00  ...
NM          96848.40000  8.160660e+04   514325.639   69303.90  ...
NV          90993.50000  1.772804e+06   651027.200  597857.30  ...
NY           1130.20000  4.923700e+03      286.200    4311.00  ...
OH            180.00000  6.350000e+02      313.000     851.70  ...
OK          15019.60000  9.483300e+03   106348.600   25135.00  ...
OR          81972.76000  7.079042e+04   364539.580  382692.10  ...
PA             30.00000  4.578000e+02      339.600     708.00  ...
PR              0.00000  0.000000e+00        0.000       0.00  ...
RI              0.00000  0.000000e+00        0.000       0.00  ...
SC          10475.40000  2.673520e+04    16967.400   26683.00  ...
SD          13462.70000  7.917030e+04   353114.500   54078.60  ...
TN          18105.80000  3.681680e+04    72097.600   57923.90  ...
TX         132829.20000  5.649740e+04   176680.300   90764.70  ...
UT          96011.40000  1.475588e+05   226516.600  123172.50  ...
VA           7957.00000  1.733510e+04    31118.600   18407.60  ...
VT             12.00000  0.000000e+00        0.000       0.00  ...
WA         110758.60000  2.517180e+04   284371.700  222947.70  ...
WI           2984.30000  4.154950e+03     5764.060     809.79  ...
WV          19477.50000  1.012190e+05    49157.500   93674.90  ...
WY           4525.40000  3.943130e+04   367277.900   66458.50  ...

fire_year          2006          2007          2008          2009  \
state
AK         2.543659e+05  6.341360e+05  9.226770e+04  2.949289e+06
AL         7.342410e+04  4.989490e+04  1.967910e+04  2.281375e+04
AR         6.304700e+04  2.326650e+04  9.639450e+03  1.575625e+04
AZ         1.795655e+05  1.139338e+05  1.128924e+05  2.205709e+05
CA         8.064270e+05  1.038271e+06  1.423523e+06  4.501132e+05
CO         4.529520e+04  1.356928e+04  1.115024e+05  3.730460e+04
CT         1.930000e+02  1.020000e+02  1.785000e+03  6.900000e+01
DE         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
FL         2.466541e+05  5.409204e+05  1.805945e+05  1.404399e+05
GA         2.607644e+04  3.159027e+05  1.839568e+04  1.218754e+04
HI         1.312100e+04  3.918390e+04  5.862000e+03  1.152600e+04
IA         4.738000e+03  6.650000e+02  1.481000e+03  6.817000e+03
ID         9.094808e+05  2.183374e+06  1.745701e+05  2.333130e+04
IL         2.160000e+02  6.343000e+02  7.420000e+02  2.795300e+03
IN         9.353000e+02  2.003510e+03  8.590000e+01  6.000000e+01
KS         7.883660e+04  1.661330e+04  7.419250e+04  3.891730e+04
KY         5.088710e+04  6.238200e+04  3.620750e+04  4.114300e+04
LA         3.621965e+04  6.600000e+02  2.173713e+04  3.245615e+04
MA         0.000000e+00  1.860000e+02  8.300000e+02  0.000000e+00
MD         6.369400e+03  6.908100e+03  2.385700e+03  4.435500e+03
ME         1.337300e+03  1.663000e+02  2.230000e+02  2.011000e+02
MI         7.053900e+03  2.242302e+04  1.999300e+03  2.631120e+03
MN         6.992752e+04  1.627958e+05  2.009595e+04  1.062219e+04
MO         2.388174e+04  1.374015e+04  5.802300e+03  1.771833e+04
MS         1.207494e+05  4.733809e+04  3.241056e+04  2.317430e+04
MT         8.652824e+05  7.434371e+05  1.690098e+05  5.268618e+04
NC         1.815450e+04  4.271910e+04  7.787790e+04  1.602780e+04
ND         2.240950e+04  1.779270e+04  2.909780e+04  2.847300e+03
NE         8.893910e+04  1.995080e+04  7.183800e+03  1.041670e+04
NH         1.576000e+02  4.000000e+01  6.400000e+01  4.000000e+01
NJ         1.833250e+03  2.002850e+04  2.678500e+03  2.860000e+02
NM         5.456252e+05  1.433003e+05  3.648535e+05  4.219581e+05
NV         1.327848e+06  9.460861e+05  7.903290e+04  2.847460e+04
NY         1.935400e+03  6.409000e+02  3.507100e+03  1.088600e+03
OH         9.670000e+02  5.000000e+02  3.050000e+02  4.404210e+03
OK         4.122933e+05  5.493150e+04  1.430491e+05  4.013200e+05
OR         4.990232e+05  5.660423e+05  2.396049e+05  8.802809e+04
PA         6.868845e+03  6.401500e+02  6.795894e+03  5.487614e+03
PR         7.512500e+03  1.912809e+04  5.851000e+02  6.358000e+03
RI         6.500000e+01  0.000000e+00  1.000000e+01  0.000000e+00
SC         1.279240e+04  1.555744e+04  1.293175e+04  2.756460e+04
SD         1.954328e+05  8.004575e+04  4.054375e+04  3.795358e+04
TN         2.898140e+04  4.884656e+04  2.034260e+04  1.567650e+04
TX         1.829605e+06  1.273791e+05  1.460435e+06  5.395284e+05
UT         3.447345e+05  6.442247e+05  3.353929e+04  1.138853e+05
VA         2.233640e+04  1.418640e+04  4.123700e+04  6.989400e+03
VT         0.000000e+00  1.000000e+01  1.300000e+01  0.000000e+00
WA         3.975521e+05  2.637806e+05  1.169244e+05  8.588341e+04
WI         2.065290e+03  3.545900e+03  4.836600e+02  3.031740e+03
WV         1.498500e+04  6.594000e+03  1.346080e+04  1.545700e+04
WY         2.446929e+05  9.374350e+04  1.019081e+05  2.331820e+04

fire_year         2010        2011        2012         2013           2014  \
state
AK         1137138.500   292716.40   300344.80  1320518.500  233426.400000
AL           37479.620    50599.60    26897.50    28015.650   35310.200000
AR           30528.400    43380.45    34583.66    11797.600   18521.800000
AZ           86913.770  1036553.43   227705.05   102307.470  202212.510000
CA          116298.410   186216.73   759592.08   575555.650  543033.330000
CO           50913.000   126833.10   270749.00   161037.700   24488.270000
CT             231.000       89.00      333.00        0.000       0.000000
DE               0.000        0.00        0.00       12.000       0.000000
FL           59646.280   324473.92   134780.02    74046.020  153560.600000
GA           15936.930   425276.95    18798.02     9781.680   15946.240000
HI           14851.000     4739.00     4726.00      738.000       0.000000
IA            2135.000     6815.00     3279.60     2078.000    9603.500000
ID          643170.340   408497.00  1774246.40   739424.400  198230.000000
IL            2103.300     2053.00     1160.00       84.000    2122.500000
IN            1503.700      655.00      989.50      716.000      65.700000
KS           25097.000    91560.90    57297.00     6859.000   36497.400000
KY           56870.950    21984.24    30564.00    21302.700   39895.869996
LA           39295.730    37575.90     8915.73    20760.788   35929.020000
MA             321.000        0.00        0.00        0.000     372.500000
MD            3416.800    10091.48     1274.30      273.000    1664.300000
ME              27.000       33.50      166.30      393.200      38.900000
MI           11391.800     1476.77    27542.20      452.600     389.850000
MN           33628.970   138087.10    62729.90    20841.850    3124.000000
MO           14243.350    30701.98    18401.01     3210.960   20492.430000
MS           30805.560    25893.23    10202.95    19031.100   28713.000000
MT           56752.200   138613.00  1006028.47    76471.520   33998.600000
NC           12996.600   104080.40    32270.90    11172.400   10958.100000
ND            3308.600     3609.40    40546.60     6074.800    3380.900000
NE           22643.750    38179.00   334766.90    10091.000   19444.600000
NH               0.000        0.00       23.42       11.500      24.000000
NJ            6281.500       32.00     2551.50      903.500    9347.000000
NM          130202.830  1142250.18   370098.22   284439.000   43357.370000
NV           19800.800   422540.50   454845.66   179702.850   69688.000000
NY            1230.000      201.90     1927.40      832.100     663.400000
OH            1283.000      190.30      830.40     1191.140    2440.800000
OK          109764.800   323772.80   201414.30    28943.000  185987.900000
OR           87027.260   223223.66  1530332.32   318386.850  932870.930000
PA            2834.895      387.60     2339.27     1152.700    3443.680000
PR            4598.000    19193.00      389.00     2473.400     212.000000
RI               0.000        0.00        0.00        0.000       0.000000
SC            5932.800    24060.80    12186.70     6687.200    8062.850000
SD            5186.400    64743.64   167950.76    14419.500   17951.200000
TN           19014.070    12748.90    19866.40     8941.300   15413.500000
TX          225969.470  3474372.00   153313.35    59586.100  134069.300000
UT           62084.810    61417.97   431983.48    69872.800   26648.680000
VA           10315.600    23799.10    47186.62     5085.900   11252.300000
VT               0.000        0.00      232.70      121.500      88.500000
WA           92545.240    38021.40   279828.86   152719.800  448946.990000
WI            1629.120      277.21     1735.60     8712.950    2398.030000
WV           24575.700     5200.00    16124.10     9142.000   12547.500000
WY           86504.400   134336.25   481206.46    53884.900    7179.430000

fire_year        2015
state
AK         5136372.99
AL           28386.96
AR           16302.96
AZ          154720.38
CA          844674.02
CO           22599.10
CT             108.70
DE              56.00
FL          162845.80
GA            8019.52
HI            4836.00
IA           13139.85
ID          790235.90
IL            1403.00
IN             657.90
KS          119054.62
KY           18506.22
LA           18293.07
MA             974.40
MD             888.30
ME             327.50
MI            3104.60
MN           27254.40
MO           10842.09
MS           31251.30
MT          348969.61
NC            9272.62
ND           24591.40
NE           43558.75
NH             501.86
NJ            2085.00
NM           51571.08
NV           23237.91
NY            3639.00
OH            1381.40
OK          147565.40
OR          578003.15
PA            3166.84
PR            1311.60
RI              47.45
SC            4401.22
SD           52758.22
TN            7488.10
TX          198621.98
UT            9584.00
VA            5505.50
VT             222.00
WA         1160483.43
WI            1920.70
WV           16479.77
WY           36233.50

[51 rows x 24 columns]

In [106]:
print(fires2013month[[2013,2014,2015]])

fire_year         2013           2014        2015
state
AK         1320518.500  233426.400000  5136372.99
AL           28015.650   35310.200000    28386.96
AR           11797.600   18521.800000    16302.96
AZ          102307.470  202212.510000   154720.38
CA          575555.650  543033.330000   844674.02
CO          161037.700   24488.270000    22599.10
CT               0.000       0.000000      108.70
DE              12.000       0.000000       56.00
FL           74046.020  153560.600000   162845.80
GA            9781.680   15946.240000     8019.52
HI             738.000       0.000000     4836.00
IA            2078.000    9603.500000    13139.85
ID          739424.400  198230.000000   790235.90
IL              84.000    2122.500000     1403.00
IN             716.000      65.700000      657.90
KS            6859.000   36497.400000   119054.62
KY           21302.700   39895.869996    18506.22
LA           20760.788   35929.020000    18293.07
MA               0.000     372.500000      974.40
MD             273.000    1664.300000      888.30
ME             393.200      38.900000      327.50
MI             452.600     389.850000     3104.60
MN           20841.850    3124.000000    27254.40
MO            3210.960   20492.430000    10842.09
MS           19031.100   28713.000000    31251.30
MT           76471.520   33998.600000   348969.61
NC           11172.400   10958.100000     9272.62
ND            6074.800    3380.900000    24591.40
NE           10091.000   19444.600000    43558.75
NH              11.500      24.000000      501.86
NJ             903.500    9347.000000     2085.00
NM          284439.000   43357.370000    51571.08
NV          179702.850   69688.000000    23237.91
NY             832.100     663.400000     3639.00
OH            1191.140    2440.800000     1381.40
OK           28943.000  185987.900000   147565.40
OR          318386.850  932870.930000   578003.15
PA            1152.700    3443.680000     3166.84
PR            2473.400     212.000000     1311.60
RI               0.000       0.000000       47.45
SC            6687.200    8062.850000     4401.22
SD           14419.500   17951.200000    52758.22
TN            8941.300   15413.500000     7488.10
TX           59586.100  134069.300000   198621.98
UT           69872.800   26648.680000     9584.00
VA            5085.900   11252.300000     5505.50
VT             121.500      88.500000      222.00
WA          152719.800  448946.990000  1160483.43
WI            8712.950    2398.030000     1920.70
WV            9142.000   12547.500000    16479.77
WY           53884.900    7179.430000    36233.50

## Work with bins

In [108]:
# reset the index for the DataFrame named fires_by_year
print(fires_by_year.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1224 entries, ('AK', 1992) to ('WY', 2015)
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   acres_burned  1224 non-null   float64
 1   days_burning  1224 non-null   float64
 2   fire_count    1224 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 33.7 KB
None

In [124]:
fires_by_year=fires_by_year.reset_index()

In [127]:
# bin the data by decade
# double-check the edge values
fires_by_year['decade'] = pd.cut(fires_by_year.fire_year, 

                                 bins=[1990,2000,2010,2020], 

                                 labels=['1990s','2000s','2010s'], 

                                 right=False)
print(fires_by_year)

     state  fire_year  acres_burned  days_burning  fire_count decade
0       AK       1992     142444.70        1145.0          68  1990s
1       AK       1993     686630.50        3373.0         144  1990s
2       AK       1994     261604.70        2517.0         126  1990s
3       AK       1995      43762.60         880.0          48  1990s
4       AK       1996     598407.20        2112.0          88  1990s
...    ...        ...           ...           ...         ...    ...
1219    WY       2011     134336.25         669.0         160  2010s
1220    WY       2012     481206.46        1802.0         215  2010s
1221    WY       2013      53884.90         742.0          40  2010s
1222    WY       2014       7179.43         224.0          48  2010s
1223    WY       2015      36233.50         351.0         107  2010s

[1224 rows x 6 columns]

In [129]:
# drop the fire_year column and assign the DataFrame that's returned to a variable named fires_by_decade
fires_by_decade=fires_by_year.drop(columns=['fire_year'])
print(fires_by_decade)

     state  acres_burned  days_burning  fire_count decade
0       AK     142444.70        1145.0          68  1990s
1       AK     686630.50        3373.0         144  1990s
2       AK     261604.70        2517.0         126  1990s
3       AK      43762.60         880.0          48  1990s
4       AK     598407.20        2112.0          88  1990s
...    ...           ...           ...         ...    ...
1219    WY     134336.25         669.0         160  2010s
1220    WY     481206.46        1802.0         215  2010s
1221    WY      53884.90         742.0          40  2010s
1222    WY       7179.43         224.0          48  2010s
1223    WY      36233.50         351.0         107  2010s

[1224 rows x 5 columns]

In [130]:
# group by the state and decade columns and sum the data
final=fires_by_decade.groupby(['state','decade']).sum()
print(final)

              acres_burned  days_burning  fire_count
state decade
AK    1990s   4.884868e+06       15069.0         734
      2000s   1.892062e+07       34174.0         974
      2010s   8.420518e+06       31025.0         915
AL    1990s   1.945928e+05         214.0         216
      2000s   4.088805e+05        1863.0         535
...                    ...           ...         ...
WV    2000s   2.308489e+05         804.0        1418
      2010s   8.406907e+04         393.0         724
WY    1990s   4.240744e+05         675.0         450
      2000s   1.166740e+06        7382.0         720
      2010s   7.993449e+05        6990.0         687

[153 rows x 3 columns]